@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>



<p>Aquaponics is a system that is aquaculture (rasing aquatic animals like snails,fish,crayfish or prawns in a tank)</p>
<p>using hydroponics (cultivating plants in water) in an symbiotic (interaction between two different organisms living in close physical environment)</p>
<p>In an aquaponic system. Water is fed to a hydroponic ( method of growing plants without soil by using mineral nutrient solutions in water) system where</p>
<p>the minerals are broken down by bacteria and then recirculated back to the tank system where plants and aqua life can use the minerals.</p>