
@{
    ViewData["Title"] = "benifits";
}

<h2>Primary Benifits</h2>

<p>1. Environmentally good becuase the system uses low water and power usage.</p>
<p>2. Plants that are growen in the system can grow easily and requires no synthetic fertilizers and few pesticides.</p>
<p>3. Very little chance for pests and diseases to thrive in the system, making it less likely for fish and plants to die.</p>
<p>4. Fish can be used as an alternitve source for food or revenue.</p>
<p>5. Plants can grow fast in the system.</p>
<p>6. Mulitiple plants can grow and fish can be raised in the system.</p>
<p>7. Increased plant production in less time then in traditional farming.</p>
