@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Central New Mexico Community College AquaPonics Division<br />
    CNM Main Campus<br />
    <abbr title="Phone">P:</abbr>
    505.244.3000
</address>

<address>
    <strong>Support:</strong> <a href="mailto:it@cnm.edu">Email Support</a><br />
    <strong>Marketing:</strong> <a href="mailto:itMarketing@cnm.edu">Email AquaPonic Marketing</a>
</address>

