
@{
    ViewData["Title"] = "Gallery";
}


<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    body {
        font-family: Arial;
        margin: 0;
    }

    * {
        box-sizing: border-box;
    }

    img {
        vertical-align: middle;
    }

    /* Position the image container (needed to position the left and right arrows) */
    .container {
        position: relative;
    }

    /* Hide the images by default */
    .mySlides {
        display: none;
    }

    /* Add a pointer when hovering over the thumbnail images */
    .cursor {
        cursor: pointer;
    }

    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 40%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover,
        .next:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }

    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    /* Container for image text */
    .caption-container {
        text-align: center;
        background-color: #222;
        padding: 2px 16px;
        color: white;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Six columns side by side */
    .column {
        float: left;
        width: 16.66%;
    }

    /* Add a transparency effect for thumnbail images */
    .demo {
        opacity: 0.6;
    }

        .active,
        .demo:hover {
            opacity: 1;
        }
</style>
<body>

    <h2 style="text-align:center">Gallery</h2>

    <div class="container">
        <div class="mySlides">
            <div class="numbertext">1 / 7</div>
            <img src="~/Photos/Aquaponics_3.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">2 / 7</div>
            <img src="~/Photos/Aquaponics_Nitrogen_Cycle.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">3 / 7</div>
            <img src="~/Photos/fish_plant.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">4 / 7</div>
            <img src="~/Photos/fullsystem.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">5 / 7</div>
            <img src="~/Photos/goldfish.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">6 / 7</div>
            <img src="~/Photos/tank1.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">7 / 7</div>
            <img src="~/Photos/Tilapia.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">8 / 9</div>
            <img src="~/Photos/aquasprouts.jpg" style="width:100%">
        </div>
        <div class="mySlides">
            <div class="numbertext">9 / 9</div>
            <img src="~/Photos/quick_glimpse-into_aquaponics.jpeg" style="width:100%">
        </div>
        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>

        <div class="caption-container">
            <p id="caption"></p>
        </div>

        <div class="row">
            <div class="column">
                <img class="demo cursor" src="~/Photos/Aquaponics_3.jpg" style="width:100%" onclick="currentSlide(1)" alt="Aquaponics full system">
            </div>
            <div class="column">
                <img class="demo cursor" src="~/Photos/Aquaponics_Nitrogen_Cycle.jpg" style="width:100%" onclick="currentSlide(2)" alt="Aquaponics Nitrogen Cycle">
            </div>
            <div class="column">
                <img class="demo cursor" src="~/Photos/fish_plant.jpg" style="width:100%" onclick="currentSlide(3)" alt="Fish and plants">
            </div>
            <div class="column">
                <img class="demo cursor" src="~/Photos/fullsystem.jpg" style="width:100%" onclick="currentSlide(4)" alt="Man working with Aquaponics">
            </div>
            <div class="column">
                <img class="demo cursor" src="~/Photos/goldfish.jpg" style="width:100%" onclick="currentSlide(5)" alt="Goldfish">
            </div>
            <div class="column">
                <img class="demo cursor" src="~/Photos/tank1.jpg" style="width:100%" onclick="currentSlide(6)" alt="Tank with plants">
            </div>
            <div class="column">
                <img class="demo cursor" src="~/Photos/Tilapia.jpg" style="width:100%" onclick="currentSlide(7)" alt="Tilapia">
            </div>
            <div class="column">
                <img class="demo cursor" src="~/Photos/aquasprouts.jpg" style="width:100%" onclick="currentSlide(8)" alt="Sprouts ">
            </div>
            <div class="column">
                <img class="demo cursor" src="~/Photos/quick_glimpse-into_aquaponics.jpeg" style="width:100%" onclick="currentSlide(9)" alt="Quick Glimpse into aquaponics">
            </div>

        </div>
    </div>

    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            var captionText = document.getElementById("caption");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            captionText.innerHTML = dots[slideIndex - 1].alt;
        }
    </script>

</body>

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    /* Button used to open the chat form - fixed at the bottom of the page */
    .open-button {
        background-color: #555;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        position: fixed;
        bottom: 23px;
        right: 28px;
        width: 280px;
    }

    /* The popup chat - hidden by default */
    .chat-popup {
        display: none;
        position: fixed;
        bottom: 0;
        right: 15px;
        border: 3px solid #f1f1f1;
        z-index: 9;
    }

    /* Add styles to the form container */
    .form-container {
        max-width: 300px;
        padding: 10px;
        background-color: white;
    }

        /* Full-width textarea */
        .form-container textarea {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            border: none;
            background: #f1f1f1;
            resize: none;
            min-height: 200px;
        }

            /* When the textarea gets focus, do something */
            .form-container textarea:focus {
                background-color: #ddd;
                outline: none;
            }

        /* Set a style for the submit/send button */
        .form-container .btn {
            background-color: #4CAF50;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
            margin-bottom: 10px;
            opacity: 0.8;
        }

        /* Add a red background color to the cancel button */
        .form-container .cancel {
            background-color: red;
        }

        /* Add some hover effects to buttons */
        .form-container .btn:hover, .open-button:hover {
            opacity: 1;
        }
</style>

<body>

    <h2>Chat Window</h2>
    <p>Click on the button at the bottom of this page to open the chat form.</p>


    <button class="open-button" onclick="openForm()">Chat</button>

    <div class="chat-popup" id="myForm">
        <form class="form-container">
            <h1>Chat</h1>

            <label for="msg"><b>Message</b></label>
            <textarea placeholder="Type message.." name="msg" id="messageInput" required></textarea>

            <button type="button" class="btn send" id="sendButton" />Send
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>


            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-6">&nbsp;</div>
                <div class="col-6">
                    <ul id="userInput" />
                    <ul id="messageInput" />
                </div>
            </div>

            <div class="row">
                <div class="col-6">&nbsp;</div>
                <div class="col-6">
                    <ul id="messagesList"></ul>
                </div>
            </div>

            <script src="~/lib/signalr/dist/browser/signalr.js"></script>
            <script src="~/js/chat.js"></script>
        </form>
    </div>

    <script>
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }
    </script>



</body>